@charset "UTF-8";

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Bold.woff") format("woff"), url("../fonts/FontsFree-Net-SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Medium.woff") format("woff"), url("../fonts/FontsFree-Net-SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Heavy";
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFProText-Heavy.woff") format("woff"), url("../fonts/FontsFree-Net-SFProText-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Regular";
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFProText-Regular.woff") format("woff"), url("../fonts/FontsFree-Net-SFProText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Neue";
  font-display: swap;
  src: url("../fonts/ofont.ru_Helvetica Neue.woff") format("woff"), url("../fonts/ofont.ru_Helvetica Neue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFCompactText-Regular";
  font-display: swap;
  src: url("../fonts/FontsFree-Net-SFCompactText-Regular.woff") format("woff"), url("../fonts/FontsFree-Net-SFCompactText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 50;
  display: block;
  padding: 30px;
}

.header__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  text-decoration: none;
  color: #fff;
  margin: 0 40px 0 0;
  font-size: 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 3;
}

.header__link.activeHeader {
  color: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__logo {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.header__logo.activeHeader {
  color: #000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 3;
}

.header__burger {
  display: block;
  position: relative;
  width: 48px;
  height: 10px;
  z-index: 3;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.activeHeader::before {
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  top: 5px;
  background-color: #000;
}

.header__burger.activeHeader::after {
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  bottom: 4px;
  background-color: #000;
}

.header__menu {
  display: none;
  visibility: hidden;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 110px;
  z-index: 2;
}

.header__menu.activeHeader {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: visible;
}

.header__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 0;
}

.header__row-last {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
}

.header__row-logo {
  font-size: 40px;
  color: #E8594E;
  text-transform: uppercase;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.header__item {
  list-style: none;
  color: #000;
  text-decoration: none;
  font-size: 22px;
  font-family: "SFCompactText-Regular", sans-serif;
  font-weight: 400;
}

.header__item:hover {
  color: #E8594E;
}

.header__row-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 50px;
}

.header__row-item {
  color: #000;
  font-size: 20px;
  font-family: "SFProDisplay", sans-serif;
}

.header__row-title {
  color: #000;
  font-size: 22px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__row-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row-contact {
  margin: 20px 12px;
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

.header__row-contact:hover {
  color: #E8594E;
}

.footer {
  width: 100%;
  border-top: 1px solid #959EA6;
  border-bottom: 1px solid #959EA6;
  padding: 125px 0;
}

.footer__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 15px 0;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  margin: 10px 0;
  font-size: 14px;
  color: #959EA6;
  cursor: pointer;
  font-family: "SFProDisplay", sans-serif;
}

.footer__item:hover {
  color: #73AFBA;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 370px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 0 0 13px 0;
}

.footer__input {
  font-size: 18px;
  width: 95%;
  border: 1px solid #fff;
  background: #ffffff;
  outline: none;
  color: #ccc;
  font-family: "SFProDisplay", sans-serif;
}

.footer__ico i {
  color: #959EA6;
  font-size: 22px;
}

.footer__button {
  width: 370px;
}

.footer-title__text {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 14px;
  font-family: "Helvetica-Neue", sans-serif;
  margin: 0 0 30px 0;
}

.footer-title__line {
  display: block;
  width: 48px;
  height: 3px;
  background-color: #73AFBA;
}

.small-footer {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}

.small-footer__form {
  display: none;
  padding: 0 15px;
  margin: 20px 0;
}

.small-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 0 0 13px 0;
}

.small-footer__input {
  font-size: 18px;
  width: 95%;
  border: 1px solid #fff;
  background: #ffffff;
  outline: none;
  color: #ccc;
  font-family: "SFProDisplay", sans-serif;
}

.small-footer__ico {
  color: #959EA6;
  font-size: 22px;
}

.small-footer__button {
  width: 100%;
}

.small-footer__title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 14px;
  font-family: "Helvetica-Neue", sans-serif;
  margin: 15px 0;
  padding: 0 0 0 15px;
  cursor: pointer;
}

.small-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 15px 0;
}

.small-footer__item {
  margin: 5px 0;
  padding: 0 0 0 15px;
  font-size: 18px;
  color: #959EA6;
  cursor: pointer;
  font-family: "SFProDisplay", sans-serif;
}

.small-footer__item:hover {
  color: #73AFBA;
}

.small-footer__wrapper {
  display: none;
}

.copyright {
  color: #959EA6;
  height: 80px;
}

.copyright__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  margin: 0 15px;
  font-size: 13px;
  line-height: 15px;
  font-family: "SFProText-Regular", sans-serif;
  font-weight: 700;
}

.copyright__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__items .copyright__text {
  cursor: pointer;
}

.copyright__items .copyright__text:hover {
  color: #73AFBA;
}

.first-screen {
  width: 100%;
  height: 100vh;
  color: #fff;
}

.first-screen__container {
  width: 100%;
  height: 100%;
}

.first-screen__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-screen__content {
  height: 100%;
  margin-top: 10px;
}

.first-screen__smallbutton {
  width: 132px;
  height: 38px;
  font-size: 11px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin: 0 0 50px 0;
}

.first-screen__title {
  max-width: 634px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 84px;
  font-size: 80px;
  text-align: left;
  margin: 0 0 30px 0;
}

.first-screen__text {
  max-width: 500px;
  font-size: 11px;
  font-family: "SFCompactText-Regular", sans-serif;
  line-height: 16px;
  text-align: left;
  margin: 0 0 50px 0;
}

.first-screen__button {
  width: 260px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E8594E;
  border-radius: 7px;
  font-size: 12px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.first-screen__button:hover {
  background-color: #73AFBA;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.first-screen__bottom {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1200px;
  z-index: 2;
}

.first-screen__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  height: 80px;
}

.first-screen__input {
  width: 850px;
  border: 1px solid #fff;
  background: #ffffff;
  outline: none;
  color: #cccccc;
  font-family: "SFProDisplay", sans-serif;
  padding: 5px;
}

.first-screen__input:focus {
  border: 1px solid #fff;
  color: #000;
}

.first-screen__form-button {
  width: 50px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  cursor: pointer;
}

.first-screen__background-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -50;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-screen-slider__item img {
  max-height: 280px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.first-screen-slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #73AFBA;
  height: 80px;
  font-size: 12px;
  width: 500px;
}

.first-screen-slider__prev,
.first-screen-slider__text,
.first-screen-slider__next {
  margin: 0 30px;
}

.first-screen-slider__next,
.first-screen-slider__prev {
  cursor: pointer;
}

.first-screen-slider__text {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: none;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}

.form__input {
  width: 95%;
  border: 1px solid #fff;
  background: #ffffff;
  outline: none;
  color: #cccccc;
  font-family: "SFProDisplay", sans-serif;
  padding: 5px;
}

.form__button {
  width: 5%;
  padding: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  cursor: pointer;
}

.lessons {
  width: 100%;
  padding: 150px 0;
}

.lessons__header {
  margin-bottom: 105px;
}

.lessons__title {
  max-width: 660px;
  text-align: left;
}

.lessons__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lessons__image {
  width: 368px;
  height: 552px;
  position: relative;
  margin: 10px 10px;
  border-radius: 10px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.lessons__image:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-color: rgba(115, 175, 186, 0.8);
}

.lessons__image:hover .lessons__text {
  display: block;
}

.lessons__image img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.lessons__text {
  display: none;
  color: #fff;
  font-size: 24px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  max-width: 240px;
  text-transform: capitalize;
}

.stories {
  width: 100%;
  height: 1080px;
  padding: 108px 0;
  position: relative;
}

.stories__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.stories__content {
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.stories__small-button {
  border-radius: 30px;
  background-color: #E8594E;
  width: 132px;
  height: 48px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin: 0 0 30px 0;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 11px;
  border: 3px solid rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

.stories__small-button:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #E8594E;
}

.stories__title {
  max-width: 595px;
  font-size: 48px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  margin: 0 0 30px 0;
  text-transform: capitalize;
}

.stories__text {
  margin: 0 0 42px 0;
  font-size: 14px;
  font-family: "SFProText-Regular", sans-serif;
}

.stories__button {
  width: 266px;
}

.stories__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -50;
}

.stories-block {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: rgba(17, 31, 42, 0.9);
  color: #fff;
  padding: 50px;
}

.stories-block__title {
  max-width: 368px;
  font-size: 64px;
  font-family: "SFProText-Regular", sans-serif;
  font-weight: 700;
  margin-bottom: 70px;
}

.stories-block__item {
  border-bottom: 1px solid #E3E3E3;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories-block__image {
  margin: 0 30px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stories-block__description {
  font-size: 18px;
  line-height: 24px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  margin: 0 0 12px 0;
  text-transform: capitalize;
}

.stories-block__date {
  color: #E3E3E3;
  font-family: "SFProText-Regular", sans-serif;
  font-size: 11px;
}

.featured-videos {
  width: 100%;
  padding: 140px 0;
}

.featured-videos__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 100px 0;
}

.featured-videos__title {
  max-width: 590px;
  margin: 0 0 20px 0;
  text-align: center;
}

.featured-videos__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 630px;
  color: #788692;
  font-family: "SFCompactText-Regular", sans-serif;
}

.featured-videos-slider {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
}

.featured-videos-slider__item {
  width: 400px;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.featured-videos-slider__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.featured-videos-slider__text {
  visibility: hidden;
  z-index: 5;
  color: #fff;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  line-height: 42px;
  margin: 30px;
  -webkit-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.featured-videos-slider__play {
  visibility: hidden;
  width: 100px;
  height: 100px;
  background-color: #E8594E;
  border-radius: 50%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, -200px);
      -ms-transform: translate(0, -200px);
          transform: translate(0, -200px);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.featured-videos-slider__play i {
  color: #fff;
  font-size: 16px;
}

.featured-videos-slider .slick-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-videos-slider .slick-slide.slick-active {
  height: 600px;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}

.featured-videos-slider .slick-slide.slick-active .featured-videos-slider__play {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.featured-videos-slider .slick-slide.slick-active .featured-videos-slider__text {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.featured-videos-slider .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.featured-videos-slider .slick-arrow.slick-prev {
  left: 0;
}

.featured-videos-slider .slick-arrow.slick-prev::before {
  content: "<";
  color: #E8594E;
  font-size: 60px;
  font-weight: bold;
}

.featured-videos-slider .slick-arrow.slick-next {
  right: 0;
}

.featured-videos-slider .slick-arrow.slick-next::before {
  content: ">";
  color: #E8594E;
  font-size: 60px;
  font-weight: bold;
}

/* Слайдер */

.slick-slider {
  position: relative;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.sing-up {
  width: 100%;
  margin-bottom: 350px;
}

.sing-up__container {
  width: 100%;
  height: 900px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.sing-up__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 368px;
  z-index: 5;
  color: #fff;
  margin: 133px;
}

.sing-up__title {
  font-size: 64px;
  font-weight: 700;
  font-family: "SFProText-Regular", sans-serif;
  margin-bottom: 110px;
  line-height: 80px;
}

.sing-up__text {
  font-size: 16px;
  font-family: "SFCompactText-Regular", sans-serif;
  line-height: 21px;
  margin: 0 0 133px 0;
}

.sing-up__form {
  position: absolute;
  right: 130px;
  bottom: -100px;
  width: 500px;
  height: 420px;
  border-radius: 8px;
  background-color: #fff;
}

.sing-up__top {
  width: 100%;
  height: 320px;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sing-up__input {
  width: 100%;
  outline: none;
  margin: 0 0 30px 0;
  border: 1px solid #fff;
  border-bottom: 1px solid #1C2E3D;
  color: #1C2E3D;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
}

.sing-up__input:focus {
  border-bottom: 2px solid #73AFBA;
}

.sing-up .sing-up__input::-webkit-input-placeholder {
  color: #1C2E3D;
  letter-spacing: 2px;
  font-size: 11px;
  margin-bottom: 30px;
}

.sing-up .sing-up__input::-moz-placeholder {
  color: #1C2E3D;
  letter-spacing: 2px;
  font-size: 11px;
}

.sing-up .sing-up__input:-moz-placeholder {
  color: #1C2E3D;
  letter-spacing: 2px;
  font-size: 11px;
}

.sing-up .sing-up__input:-ms-input-placeholder {
  color: #1C2E3D;
  letter-spacing: 2px;
  font-size: 11px;
}

.sing-up__button {
  width: 100%;
  height: 100px;
  background-color: #73AFBA;
  color: #fff;
  text-transform: uppercase;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.sing-up__button:hover {
  background-color: #E8594E;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.sing-up__background img {
  position: absolute;
  z-index: -50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.inspiration {
  width: 100%;
  margin: 0 0 150px 0;
}

.inspiration__container {
  width: 100%;
  height: 100%;
}

.inspiration__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 100px 0;
}

.inspiration__title {
  margin-bottom: 25px;
  text-align: center;
}

.inspiration__subtitle {
  max-width: 734px;
  color: #788692;
  font-family: "SFCompactText-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.inspiration__row {
  width: 100%;
  height: 506px;
  margin: 0 0 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inspiration__image {
  width: 33%;
  height: 100%;
  margin: 0 12px;
  position: relative;
  padding: 40px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-radius: 10px;
}

.inspiration__image:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.6);
}

.inspiration__image:hover .inspiration__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.inspiration__image:hover .inspiration__description {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.inspiration__image:hover .inspiration__text {
  margin: 0 0 150px 0;
}

.inspiration__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inspiration__image-long {
  width: 60%;
}

.inspiration__info {
  width: 100%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inspiration__watch i {
  font-size: 17px;
  border: 5px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.inspiration__name {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  line-height: 12px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.inspiration__text {
  font-size: 32px;
  line-height: 40px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.inspiration__owners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inspiration__owner-border {
  border: 4px solid #fff;
}

.inspiration__owners-three img:nth-child(2) {
  -webkit-transform: translate(-20px, 0);
      -ms-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  z-index: 2;
}

.inspiration__owners-three img:nth-child(3) {
  -webkit-transform: translate(-40px, 0);
      -ms-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
  z-index: 3;
}

.inspiration__owner {
  border-radius: 100%;
}

.inspiration__image-short {
  width: 40%;
}

.inspiration__owners-two img:nth-child(2) {
  -webkit-transform: translate(-20px, 0);
      -ms-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  z-index: 2;
}

body.activeHeader {
  overflow: hidden;
}

.container {
  max-width: 1590px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  height: 70px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #73AFBA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.button:hover {
  background-color: #E8594E;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.block-title {
  font-size: 64px;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  color: #1C2E3D;
}

@media (max-width: 1450px) {
  .stories {
    height: 850px;
  }

  .stories-block__item-hide-1 {
    display: none;
  }
}

@media (max-width: 1440px) {
  .first-screen__input {
    width: 670px;
  }
}

@media (max-width: 1250px) {
  .header__row-last {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__row-items {
    margin: 0 20px;
  }
}

@media (max-width: 1240px) {
  .first-screen__bottom {
    display: none;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .sing-up__form {
    right: 40px;
  }
}

@media (max-width: 1100px) {
  .lessons__image img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .sing-up__content {
    margin: 40px;
  }
}

@media (max-width: 1050px) {
  .stories {
    height: 850px;
  }

  .stories__content {
    max-width: 450px;
  }

  .stories-block {
    width: 350px;
  }

  .stories-block__item-hide {
    display: none;
  }
}

@media (max-width: 1000px) {
  .featured-videos-slider__item {
    margin: 0 60px;
  }

  .featured-videos-slider__play {
    width: 80px;
    height: 80px;
  }

  .featured-videos-slider .slick-slide.slick-active {
    height: 500px;
  }
}

@media (max-width: 992px) {
  .footer {
    display: none;
    overflow: hidden;
  }

  .footer__row {
    width: 100%;
  }

  .footer__button {
    width: 100%;
  }

  .small-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .lessons {
    padding: 40px 0;
  }

  .lessons__header {
    margin-bottom: 25px;
  }

  .lessons__image {
    width: 320px;
    height: 402px;
  }

  .stories {
    height: 700px;
  }

  .featured-videos {
    padding: 40px;
  }

  .sing-up {
    margin-bottom: 150px;
  }

  .sing-up__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sing-up__content {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .sing-up__title {
    margin: 40px 0;
  }

  .sing-up__text {
    margin: 0 0 255px 0;
  }

  .sing-up__form {
    position: relative;
    top: 0;
    left: 0;
  }

  .inspiration__text {
    font-size: 28px;
  }
}

@media (max-width: 870px) {
  .copyright {
    height: 100px;
  }

  .copyright__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 840px) {
  .stories-block {
    display: none;
  }
}

@media (max-width: 800px) {
  .featured-videos-slider .slick-arrow.slick-prev {
    left: -9px;
  }

  .featured-videos-slider .slick-arrow.slick-next {
    right: -9px;
  }
}

@media (max-width: 768px) {
  .header {
    background-color: #fff;
    color: #000;
  }

  .header__link {
    color: #000;
    margin: 0 20px 0 0;
  }

  .header__logo {
    color: #000;
  }

  .header__burger::before,
  .header__burger::after {
    background-color: #000;
  }

  .header__row {
    margin: 20px 20px;
  }

  .first-screen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .first-screen__smallbutton {
    margin: 0 30px 0 0;
  }

  .first-screen__title {
    font-size: 70px;
    line-height: 70px;
  }

  .lessons__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .lessons__image {
    width: 100%;
  }

  .stories__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stories__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stories__title {
    text-align: center;
  }

  .stories__text {
    text-align: center;
  }

  .featured-videos__container {
    margin: 0 0 60px 0;
  }

  .featured-videos__title {
    line-height: 70px;
  }

  .featured-videos-slider__item {
    margin: 0 10px;
  }

  .inspiration {
    margin: 0 0 50px 0;
  }

  .inspiration__row {
    margin: 0 0 12px 0;
  }

  .inspiration__row-center {
    display: none;
  }

  .inspiration__image {
    margin: 0 6px;
  }

  .inspiration__image:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .inspiration__info {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 730px) {
  .header__row-last {
    margin: 40px 0;
  }
}

@media (max-width: 670px) {
  .header__menu {
    padding: 80px 0 0 10px;
  }

  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__row-last {
    display: none;
  }

  .header__row_2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .featured-videos-slider__text {
    text-align: center;
    font-size: 25px;
  }

  .featured-videos-slider__play {
    width: 60px;
    height: 60px;
  }

  .sing-up__form {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .featured-videos-slider {
    max-height: 400px;
  }

  .featured-videos-slider__text {
    font-size: 20px;
    line-height: 30px;
  }

  .inspiration__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 3px 0;
  }

  .inspiration__image {
    margin: 3px 0;
  }

  .inspiration__image-long {
    width: 100%;
  }

  .inspiration__image-short {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__links {
    display: none;
  }

  .first-screen__text {
    visibility: hidden;
    display: none;
  }

  .sing-up__top {
    padding: 30px;
    height: 220px;
  }
}

@media (max-width: 370px) {
  .sing-up__title {
    font-size: 54px;
  }

  .inspiration__title {
    font-size: 54px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-height: 620px) {
  .first-screen__title {
    font-size: 60px;
    line-height: 55px;
  }
}